/* LESS needs to be processed */
img.align-left {
    float: left;
    margin-right: 20px;}
    img.align-right {
      float: right;
      margin-left: 20px;}
      
    .pick{
        align-items: stretch;
    }
    nav{
        background-color: burlywood;
    }
    @media (max-width: 600px) {
        body {
          background-color: lightblue;
        }
    }
    @media screen and (min-width: 786px) {
        body {
          background-color: lightgreen;
        }
      }
      
      @media screen and (min-width: 1000px) {
        body {
          background-color: lavender;
        }
      }
    
